[Unit]
Description=CloudTube website

[Service]
Type=simple
User=__APP__
Group=__APP__
WorkingDirectory=__FINALPATH__
Environment=__YNH_NODE_LOAD_PATH__
ExecStart=__YNH_NODE_LOAD_PATH__ __FINALPATH__/cloudtube/server.js

# Restart timing
Restart=always
RestartSec=60

SyslogIdentifier=cloudtube

[Install]
WantedBy=default.target
